body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F7F6F4;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
article{
    border: solid 10px #5E0C00;
    border-radius: 10px;
}
span{
    color: #5E0C00;
}
body > article > div{
    display:flex;
    flex-direction: column;
    align-items: center;
}

body > article > div > img{
    border: solid 10px #5E0C00;
    border-radius: 100%;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #FFF9EF;
}
p{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    line-height: 1.5em;
}

article > p > span{
    color: #5E0C00;
}
img{
    border: solid 4px black;
    border-radius: 10px;
}
li{
    list-style: none;
}
h1{
    font-size: 30px;
    text-align: center;

}
footer > nav > ul{
    display: flex;
    justify-content: center;
    padding: 0;
}
body > article > header > nav > ul{
    display: none;
}

@media only screen and (min-width: 651px)  {

article{
    border: solid 10px #5E0C00;
    border-radius: 10px;
}

/*Peter Parker Spiderman*/
h1{
    padding-left: 20px;
}

/*header*/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*header nav*/
body > article > header > nav{
    display: flex;

    align-items: center;
}

/*header > nav a*/
body > article > header > nav a{
    color: black;
    text-decoration:none;
    padding: 10px;
}

/*header > nav mostrar ul*/
body > article > header > nav > ul{
    display: contents;
}

/*Primer div*/
body > article > div{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

/* Imagen*/
body > article > div > img{
    margin: 10px;
}
/*div p + footer*/
body > article > div > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*div > p*/
body > article > div > div > div{
    display: flex;
    flex-direction: column;
    padding-right: 10px;

}

footer > nav > ul{
    display: flex;
    justify-content: center;
    padding: 0;
}
body > article > div > div > footer > nav > ul > li{
    padding: 10px;
}
}
